<div class="container">
  <header>
  </header>
  <main>
  </main>
  <nav>
    <ul>
      <li class="active">
        <i class="yo-ico">&#xe617;</i>
        <b>首页</b>
        <a href="#/index/home/position"></a>
      </li>
      <li>
        <i class="yo-ico">&#xe60d;</i>
        <b>分类</b>
        <a href="#/index/home/classify"></a>
      </li>
      <li>
        <i class="yo-ico">&#xe60e;</i>
        <b>购物车</b>
        <a href="#/index/home/shopList"></a>
        <div class="tag">
          <span>0</span>
        </div>
      </li>
      <li>
        <i class="yo-ico">&#xe619;</i>
        <b>个人中心</b>
        <a href="#/index/home/profile"></a>        
      </li>
    </ul>
  </nav>
</div>
