<div class="banner">
  <div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="https://resource.smartisan.com/resource/fda5c3e61a71c0f883bbd6c76516cd85.png" alt="">
        </div>
        <div class="swiper-slide">
          <img src="https://resource.smartisan.com/resource/R/R1app1.png" alt="">
        </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
<div class="hotGoods goodList"></div>
<div class="brandGoods goodList"></div>
<div class="officeGoods goodList"></div>
<div class="ttPhone goodList"></div>