<div class="profile_wrap">
  <div class="common-box box-userinfo">
    <div class="avatar">
      <img src="https://static.smartisanos.cn/account/asset/img/default-user-avatar.png" alt="">
    </div>
    <h3>登陆/注册</h3>
    <i class="yo-ico">&#xe621;</i>
  </div>
  <ul class="common-box box-order">
    <li>
      <i class="yo-ico">&#xe60c;</i>
      <span>全部订单</span>
    </li>
    <li>
      <i class="yo-ico">&#xe614;</i>
      <span>待付款</span>
    </li>
    <li>
      <i class="yo-ico">&#xe608;</i>
      <span>待收货</span>
    </li>
    <li>
      <i class="yo-ico">&#xe615;</i>
      <span>售后</span>
    </li>
  </ul>
  <ul class="common-box">
    <li><a>地址管理</a><i class="yo-ico">&#xe621;</i></li>
    <li><a>我的优惠券</a><i class="yo-ico">&#xe621;</i></li>
    <li><a>优先购买码</a><i class="yo-ico">&#xe621;</i></li>
    <li><a>提货兑换卡</a><i class="yo-ico">&#xe621;</i></li>
  </ul>
  <ul class="common-box">
    <li><a>常见问题</a><i class="yo-ico">&#xe621;</i></li>
    <li><a>服务支持</a><i class="yo-ico">&#xe621;</i></li>
  </ul>
  <ul class="common-box">
    <li><a>意外碎屏保修服务</a><i class="yo-ico">&#xe621;</i></li>
    <li><a>延长保修服务</a><i class="yo-ico">&#xe621;</i></li>
  </ul>
</div>