<div class="container registerContainer">
    <header>
        <h1 class="title">注册 Smartisan ID</h1>
    </header>
    <main>
        <div class="content">
            <form name="form" novalidate autocomplete="off">
                <ul class="common-form">
                    <li class="country-region">
                        <div class="input">
                            <span class="cr">国家和地区</span>
                            <span class="country">中国</span>
                        </div>
                    </li>
                    <li class="username">
                        <div class="input">
                            <span class="ccc">+86</span>
                            <label for="mobile" class="placeholder indent">手机号</label>
                            <input type="text" id="mobile" name="mobile" class="indent">
                        </div>
                    </li>
                    <li class="verification">
                        <div class="input">
                            <label for="verification" class="placeholder">短信验证码</label>
                            <input type="text" id="verification" name="verification">
                            <span class="warning"></span>
                        </div>
                        <div class="btn disabled">
                            <a>获取验证码</a>
                        </div>
                    </li>
                    <li class="password">
                        <div class="input">
                            <label for="password" class="placeholder">密码</label>
                            <input type="password" id="password" autocomplete="off" name="password" id="password">
                        </div>
                    </li>
                    <li class="password-repeat">
                        <div class="input">
                            <label for="repassword" class="placeholder">重复密码</label>
                            <input type="password" id="repassword" autocomplete="off" name="repassword" id="repassword">
                        </div>
                    </li>
                </ul>
                <div class="btn-wrapper">
                    <p class="agreement">
                        <span class="checkbox">
                        </span>
                        我已阅读并同意遵守
                        <a href="http://www.smartisan.com/support/#/agreement" target="_blank">法律声明</a>
                        和
                        <a href="http://www.smartisan.com/support/#/privacy" target="_blank">隐私条款</a>
                    </p>
                    <div class="btn disabled">
                        <a>注册</a>
                    </div>
                    <p class="tologin">
                        <a href="#/index/login">如果您已拥有 Smartisan ID，则可在此<span>登录</span></a>
                    </p>
                </div>
            </form>
        </div>
    </main>
</div>
<div class="tips-wrap">
    <div class="tips">
        <label>手机号/邮箱格式错误</label>
    </div>
</div>